aiohttp
aria2p
appdirs
beautifulsoup4
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
pytz
requests
speedtest-cli
telegraph
tenacity
TgCrypto
youtube_dl
