aiohttp
aria2p
appdirs
beautifulsoup4
bs4
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lxml
messages
natsort
Pillow
psutil
psycopg2-binary
pyrogram
python-dotenv
python-magic
python-telegram-bot==12.6.1
pytz
requests
speedtest-cli
telegraph
tenacity
TgCrypto
youtube_dl
