aiohttp
anytree
aria2p
appdirs
beautifulsoup4
cloudscrape
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
heroku3
js2py
lk21
lxml
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
TgCrypto
torrentool
youtube_dl
urllib3
